{% extends "base.html" %}
{% load i18n static %}
{% load page_title user_extras %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/company.css'%}?v={% now 'U' %}">
  </head>
<h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>
<div class="mini_menu">
    <h2><a href="{% url 'userApp:client_home' %}">Dashboard</a></h2>
</div>
<div class="info">
  <h3>Company Information:</h3>
  <table class="entry">
    <tr>
      <th>Company Name:</th>
      <td>{{company.name}}</td>
    </tr>
    <tr>
      <th>Primary Contact Name:</th>
      <td>{{company.primary_contact_name}}</td>
    </tr>
    <tr>
      <th>Primary Email:</th>
      <td>{{company.primary_email}}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>
        {% if company.phone %}
          {{company.phone}}
        {% else %}
          TBD
        {% endif %}
      </td>
    </tr>
  </table>
  {% if contacts %}
  <h3>Company Contacts:</h3>
    <table class="alt_entry">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      {% for c in contacts %}
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock content %}