{% extends "base.html" %}
{% load i18n static %}
{% load page_title user_extras %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/user.css'%}?v={% now 'U' %}">
    </head>
    <h1 class="title">{{ heading|default:page_heading|default:title_short|default:"Untitled Page"|stylize_title:"altTitle" }}</h1>

    <div class="dash">
        <div class="proposals">
            <div class="detail">
                <h3>Draft Proposals</h3>
                <table class="entry">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                    {% if dash.admin_drafts %}
                        {% if request.user.role == "ADMIN" or request.user.role == "OWNER" %}
                            <h3>Needing Approval</h3>
                                {% for d in dash.admin_drafts %}
                                    <tr>
                                        <td>{{d.title}}</td>
                                        <td>Status: {{d.approval_status}}</td>
                                    </tr>
                                {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if dash.drafts %}
                        {% if request.user.role == "ADMIN" or request.user.role == "OWNER" %}
                            <h3>All Drafts</h3>
                                {% for d in dash.drafts %}
                                    <tr>
                                        <td>{{d.title}}</td>
                                        <td>{{d.approval_status}}</td>
                                    </tr>
                                {% endfor %}
                        {% else %}
                                <tr>
                                    <td>{{d.title}}</td>
                                    <td>Status: {{d.approval_status}}</td>
                                </tr>
                        {% endif %}
                    {% else %}
                        {% if request.user.role == "ADMIN" or request.user.role == "OWNER" %}
                            <h3>All Drafts</h3>
                            <tr>
                                <td>No Draft Proposals yet</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>No Draft Proposals yet</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
            <div class="detail">
                <h3>Proposals</h3>
                <table class="entry">
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                    {% if dash.proposals %}
                        {% for p in dash.proposals %}
                            <tr>
                                <td>{{p.title}}</td>
                                <td>
                                    {% with e=p.events.all.0  %}
                                        {% if e %}
                                            {{e.kind}} at {{e.at|date:"Y-m-d"}}
                                        {% else %}
                                            No events yet
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No Proposals yet</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="projects">
            <div class="detail">
                <h3>Your Projects</h3>
                <table class="entry">
                    <tr>
                        <th>Heading</th>
                    </tr>
                    {% if dash.myProjects %}
                        <tr>
                            <td>blabla</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Nope</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="detail">
                <h3>All Projects</h3>
                <table class="entry">
                    <tr>
                        <th>Heading</th>
                    </tr>
                    {% if dash.allProjects %}
                        <tr>
                            <td>Project</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Nope</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    

{% endblock content %}