<!doctype html>
<html>
    <body  style="background-color: black; margin: 0; padding: 0;">
        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="background-color: black; border-collapse: collapse; max-width: 1000px; margin: auto;">
            <tr>
                <td>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="background-color: #FFF; border-top: 2px solid black; border-bottom: 2px solid black;">
                        <tr>
                            <td style="padding: 10px; text-align: left;">
                                <a href="https://beedev-services.com/">
                                    <img src="https://images.thehive-services.com/beeDevServices/Logo_2.png" alt="beedev logo light" style="height: 80px;">
                                </a>
                            </td>
                            <td style="padding: 10px; text-align: right;">
                                <a href="{{ signing_url }}" style="text-decoration: none; color: black; background-color: #F3DB18; padding: 12px 24px; border-radius: 20px; display: inline-block; font-weight: 700;">View & Sign Proposal</a>
                            </td>
                        </tr>
                    </table>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="background-color: #FDF8DA;">
                        <tr>
                            <td style="padding: 16px;">
                                <div>
                                    <p style="font-size: 1.1rem; margin: 0 0 8px 0;">Proposal for {{ company.name }}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px;">
                                <div>
                                    <p style="font-size: 1.1rem; margin: 0 0 8px 0;">It was a pleasure meeting with you.  As promised please find below a link to your custom proposal for review and signature.</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px;">
                                <div>
                                    <p style="font-size: 1.1rem; margin: 0 0 8px 0;">Once signed you will be prompted to create an account in our system which will then allow you to see the invoice associated to this proposal and allow you to make the deposit if one is required.</p>
                                    <hr style="width: 95%; margin: 24px auto; border: 2px solid #F3DB18;">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px;">
                                <p style="font-size: 1.1rem; margin: 0 0 8px 0;">Please review your proposal:</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px;">
                                <p style="font-size: 1.1rem; margin: 0 0 8px 0;">Project name: {{ proposal.title }} <br>
                                Company: {{ company.name }} <br>
                                Total: ${{ proposal.amount_total }} <br>
                                <a href="{{ signing_url }}">Open and sign</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px;">
                                <p style="font-size: 1.1rem; margin: 0 0 8px 0;">
                                    We look forward to hearing from you <br>
                                    Please feel free to email with any questions <br>
                                    {% if sender_name %}
                                        {{sender_name}} <br>
                                    {% endif %}
                                    {{sender_title}} <br>
                                    <img src="https://images.thehive-services.com/beeDevServices/logo.png" alt="beedev logo" style="height: 40px;"><br>
                                    <a href="https://beedev-services.com/">BeeDev Services</a><br>
                                    "Your Vision, Hive Crafted"
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 8px;">
                                <hr style="width: 95%; margin: 24px auto; border: 2px solid #F3DB18;">
                                <h5 style="margin: 0; padding: 0 8px;">Don't miss the BUZZ! 🐝</h5>
                                <p style="font-size: .8rem ;margin: 8px auto; padding: 0 8px; width:95%;">To ensure our messages find their way into your inbox, make sure to add beedev-services.com to your mailing list. This way, we can keep the communication hive thriving without any interruptions!</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 8px;">
                                <hr style="width: 95%; margin: 8px auto 24px; border: 2px solid #F3DB18;">
                                <h5 style="margin: 0; padding: 0 8px;">Disclaimer:</h5>
                                <p style="font-size: .8rem ;margin: 8px auto; padding: 0 8px; width:95%;">This email was intended for {{ company.name }}. If you are not the intended recipient of this email, please notify the sender immediately by replying to this message and delete this email from your inbox. Any unauthorized use, disclosure, or distribution of this email is prohibited. Thank you for your understanding.</p>
                                <p style="font-size: .8rem ;margin: 8px auto; padding: 0 8px; width:95%;">If you wish to unsubscribe from future emails please visit <a href="https://beedev-services.com/unsubscribe">https://beedev-services.com/unsubscribe</a> to have your information removed.</p>
                            </td>
                        </tr>
                    </table>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
